.page-container main form {
    width: 100%;
}

.page-container main fieldset {
    border: 0;
}

.page-container main fieldset legend {
   font: 700 2.4rem Lato;
   padding-bottom: 1rem;;
   border-bottom: 1px solid var(--color-line-in-white);
}

.page-container main fieldset .input-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 2rem;
}

.page-container main fieldset .input-block input {
    width: 100%;
    height: 5rem;

    border: 1px solid;
    border-radius: 0.8rem;
    padding: 0.8rem;

    background-color: var(--color-input-background);
}

.page-container main fieldset button {
    margin-top: 3.2rem;
    width: 100%;
    height: 5rem;

    background-color: var(--color-secondary);
    color: var(--color-button-text);
    border: 0;
    border-radius: 0.8rem;

    font: 700 2rem Lato;
    transition: background-color 0.2s;
}

.page-container main fieldset button:hover {
    background-color: var(--color-secondary-dark);
}